.orderForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.orderForm input {
  width: 60px;
  border-radius: 6px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem auto;
}

.orderForm select {
  border-radius: 5px;
}

.error {
  color: red;
}

.success {
  width: 95%;
  color: green;
}
