.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20%;
}

.searchBar input {
  border-radius: 5px;
  width: 70%;
}

.searchBar input:focus {
  background-color: rgba(0, 123, 255, 0.25);
}
.searchBar img {
  height: 20px;
}

.error {
  color: red;
  border-color: rgba(255, 0, 0, 0.8);
  background-color: rgba(128, 0, 0, 0.2);
}
@media only screen and (max-width: 600px) {
  .searchBar {
    width: 105%;
  }
}
