.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchBar input {
  border-radius: 5px;
}

.searchBar input:focus {
  background-color: rgba(0, 123, 255, 0.25);
}
.searchBar img {
  height: 20px;
}

.note {
  font-size: 0.8rem;
  margin-top: 0px;
  color: rgba(86, 92, 86, 1);
}

.error {
  color: red;
  border-color: red;
  background-color: rgba(128, 0, 0, 0.2);
}
